{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col text-center fs-4">
            <p><h2 style="text-align: center;">Segun los datos registrados a la fecha {{today}} se obtiene la siguiente información</h2></p>
        </div>
    </div>
    <div class="row p-4">
    <div class="col">
        <table class="tb" style='width:80%;margin:auto;border: 1px solid #000 !important'>
            <thead>
              <tr>
                <th scope="col"><h3>Nombre producto genérico</h3></th>
                <th scope="col"><h3>Suma de MontoLineaAdjudicada</h3></th>
                <th scope="col"><h3>Suma de CantidadAdjudicada</h3></th>
                <th scope="col"><h3>Cuenta MontoLineaAdjudicada</h3></th>
              </tr>
            </thead>
            <tbody>
            {% for cementera in data  %}
            <tr>
                <th scope="row">{{cementera.nombre}}</th>
                <td style = "text-align: center;">{{cementera.linea}}</td>
                <td style = "text-align: center;">{{cementera.cantidad}}</td>
                <td style = "text-align: center;">{{cementera.cuenta}}</td>
            {% endfor %}
              
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}